<!DOCTYPE html>
<html ng-app="app" ng-controller="Todo">
<head>
	<meta charset="utf-8">
	<title>{{::todo.user}}'s ToDo List</title>
	<link href="vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
</head>
<body ng-cloak>
	<div class="container">
		<div class="page-header">
			<h1>
               <!-- <img class="photo" src="images/VZ.jpg">-->
                <img class="photo" src="{{todo.userPhoto}}">
                {{::todo.user}}'s ToDo List <span class="label label-default" ng-if="incompleteCount(todo.items) !== 0">{{incompleteCount(todo.items)}}</span>
			</h1>
		</div>
		<div class="panel">
			<form novalidate name="newTask">
				<div class="form-group">
					<label for="action">Action:</label>
					<div class="input-group">
						<input id="action" name="action" class="form-control" />
						<span class="input-group-btn">
							<button class="btn btn-primary">Add</button>
						</span>
					</div>
				</div>
			</form>
		</div>

<span><input type="checkbox" ng-model="hideCompleted"/> Hide Completed</span>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> To Do List
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Description</th>
							<th>Done</th>
							<!--<th class="text-right">Commands</th>-->
						</tr>
					</thead>
					<tbody>
                        <tr ng-repeat="item in todo.items" ng-hide="hideCompleted && item.done">
                            <td>{{item.action}}</td>
                            <td><input type="checkbox" ng-model="item.done"/></td>
                            <!--<td>{{item.done ? "Yes" : "No"}}</td>-->
						<!--<tr>
							<td>Estimate...</td>
							<td>No</td>
							<td class="text-right">
								<button
									type="button"
									class="btn btn-primary">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"
									title="Edit"></span>
								</button>
								<button
									type="button"
									class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"
									title="Delete"></span>
								</button>
							</td>
						</tr>
						<tr>
							<td>Create...</td>
							<td>No</td>
							<td class="text-right">
								<button
									type="button"
									class="btn btn-primary">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"
									title="Edit"></span>
								</button>
								<button
									type="button"
									class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"
									title="Delete"></span>
								</button>
							</td>
						</tr>
						<tr>
							<td>Edit...</td>
							<td>Yes</td>
							<td class="text-right">
								<button
									type="button"
									class="btn btn-primary">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"
									title="Edit"></span>
								</button>
								<button
									type="button"
									class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"
									title="Delete"></span>
								</button>
							</td>
						</tr>
						<tr>
							<td>Delete...</td>
							<td>No</td>
							<td class="text-right">
								<button
									type="button"
									class="btn btn-primary">
									<span class="glyphicon glyphicon-edit" aria-hidden="true"
									title="Edit"></span>
								</button>
								<button
									type="button"
									class="btn btn-danger">
									<span class="glyphicon glyphicon-trash" aria-hidden="true"
									title="Delete"></span>
								</button>
							</td>
						</tr>-->
					</tbody>
				</table>
			</div>
		</div>
	</div>
    <script src="vendor/angular/angular.min.js"></script>
    <srcipt src="vendor/angular-sanitize/angular-sanitize.min.js"></srcipt>
    <script src="app.js"></script>
</body>
</html>
